<p id="notice"><%= notice %></p>

<div class="container">
  
  <%= image_tag @profile.picture, class: "home-image" %>

  <p>
    <strong>First name:</strong>
    <%= @profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @profile.last_name %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= @profile.user_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @profile.user_id %>
  </p>
  <% if user_signed_in? && (current_user.id == @profile.id || current_user.profile.admin?) %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
    <%= link_to 'Delete', profile_path, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= link_to 'Back', profiles_path %>
</div>
