<p id="notice"><%= notice %></p>

<h1>Kicks</h1>



<div class="row">
  <% @kicks.each do |kick| %>
    <div class="col-md-4">
      <div class="card">
        <% if kick.pictures && kick.pictures.first %>
          <%= image_tag kick.pictures.first, class: "card-img-top" %>
        <% else %>
          <%= image_tag "home.jpg", class: "card-img-top" %>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= kick.tittle %></p>
        <p class="card-text"><%= kick.price %></p>
        <p class="card-text"><%= kick.seller.user_name %></p>
        <%= link_to 'Show', kick %>
      </div>
    </div>
  <% end %>  
</div>

<%= link_to "Sell Kicks", new_kick_path %>
