<p id="notice"><%= notice %></p>

<% @kick.pictures.each do |picture| %>
  <%= image_tag picture, class: "card-img-top" %>

<% end %>



<p>
  <strong>Tittle:</strong>
  <%= @kick.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kick.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kick.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @kick.brand %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @kick.condition %>
</p>



<p>
  <strong>Buyer:</strong>
  <%= @kick.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @kick.seller.user_name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @kick.seller.user_id %>
</p>



<% if user_signed_in? && (current_user.id == @kick.seller.user_id) || current_user.profile.admin? %>
  <%= link_to 'Edit', edit_kick_path(@kick) %>
<% end %>  
<%= link_to 'Back', kicks_path %>
