<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @kick.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kick.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kick.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @kick.brand %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @kick.condition %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @kick.picture %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @kick.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @kick.seller_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @kick.profile_id %>
</p>

<%= link_to 'Edit', edit_kick_path(@kick) %> |
<%= link_to 'Back', kicks_path %>
